.hero {
    background-color: $brand-color;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/studio/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hero_title {
    color: $primary-text-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero_button-primary {
    background-color: $accent-color;
    color: $primary-text-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 7px 29px;
    width: 216px;
    min-height: 50px;
    border-radius: 4px;
    border: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-right: auto;
    margin-left: auto;
    display: block;
}