.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.team_list {
  display: flex;
  gap: 30px;
}

.team_item {
  background-color: $primary-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team_image {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team_profession {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.team_socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team_socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $primary-text-color;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

// .team_socials-link:hover,
// .team_socials-link:focus {
//   background-color: $accent-color;
// }

.team_socials-link:hover .team_socials-icon,
.team_socials-link:focus .team_socials-icon {
  fill: $primary-text-color;
}

.team_socials-icon {
  fill: $icons-color;
}
