.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;

}

.team__list {
 
  

  @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

     
    }

        @media screen and (min-width: 1200px) {
          display: flex;
          flex-wrap: wrap;
    
        }


  }


.team__item {
  background-color: $primary-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
 margin-bottom: 30px;
 

@media screen and (min-width: 768px) {
    width: calc((100% - 2*30px)/2);

    // width: calc((100%-кількість маржинів в рядку * значення маржина)/кількість елементів в рядку);
    margin: 15px;
  }



  @media screen and (min-width: 1200px) {
    width: calc((100% - 4*30px)/4);
    margin: 15px;

  }

}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__image {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team__profession {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.team__socials-list {
 display: flex;
  gap: 10px;
  justify-content: center;
}

.team__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $primary-text-color;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

// .team_socials-link:hover,
// .team_socials-link:focus {
//   background-color: $accent-color;
// }

.team__socials-link:hover .team__socials-icon,
.team__socials-link:focus .team__socials-icon {
  fill: $primary-text-color;
}

.team__socials-icon {
  fill: $icons-color;
}

// .team_photo {
//   width: 270px;

//   @media screen and (min-width: 480px) {
//     width: 450px;
    
//   }
  
//     @media screen and (min-width: 768px) {
//       width: 354px;
      
//     }

//         @media screen and (min-width: 1200px) {
//           width: 270px;
          
//         }
// }