.header {
    background-color: $primary-text-color;
    border-bottom: 1px solid #ececec;
    

    
        }

.header_container {
    align-items: center;
    display: flex;
    justify-content: center;
}