.filter_list {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.filter_item:not(:last-child) {
  margin-right: 8px;
}

.filter_button {
  background-color: #f5f4fa;
  color: $title-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-text-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .filter_button:hover,
// .filter_button:focus {
//   color: $primary-text-color;
//   background-color: $accent-color;
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
// }
