$brand-color: #2f303a;
$brand-bg-color: #f5f5f5;
$accent-color: #2196f3;
$primary-text-color: #ffffff;
$title-text-color: #212121;
$secondary-text-color: #757575;
$footer-text-color: rgba(255, 255, 255, 0.6);
$logo-text-color: #000;
$icons-color: #afb1b8;
